{erl_opts, [debug_info]}.
{deps, [{spinlock, "0.2.1"}]}.

{profiles, [
    {test, [{deps, [{xxh3, "0.3.5"}]}]}
]}.

{project_plugins, [erlfmt]}.

{erlfmt, [write]}.

{plugins, [covertool]}.

{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/farhadi/cuckoo_filter">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.
